- page_title s_('GroupSAML|SAML Single Sign On Settings')
%section.row.prepend-top-default
  .col-lg-3.gl-mb-3
    %h4.page-title
      = s_("GroupSAML|SAML Single Sign On")
    %p
      = s_("GroupSAML|Manage your group’s membership while adding another level of security with SAML.")
    = link_to help_page_path('user/group/saml_sso/index'), target: '_blank' do
      = _("Learn more")
      = icon('external-link')
  .col-lg-9
    = render 'info'
%section.row.border-top.mt-4
  .col-lg-3.gl-mb-3
    %h4.page-title
      = s_('GroupSAML|Configuration')
  .col-lg-9
    = render 'form', group: @group, saml_provider: @saml_provider
- if @saml_response_check
  #response.pt-3
    %section.row.border-top.mt-4
      .col-lg-3.gl-mb-3
        %h4.page-title
          = s_('GroupSAML|SAML Response Output')
      .col-lg-9
        = render 'response_debug'
%section.row.border-top.mt-4
  .col-lg-3.gl-mb-3
    %h4.page-title
      = s_('GroupSAML|SCIM Token')
  .col-lg-9
    = render 'scim_token'
%section.row.border-top.mt-4
  .col-lg-3.gl-mb-3
    %h4.page-title
      = s_('GroupSAML|Members')
  .col-lg-9
    .js-saml-members.prepend-top-default{ data: { group_id: @group.id } }
      .animation-container
        .skeleton-line-1
        .skeleton-line-2
        .skeleton-line-3
